{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"printWidth": 100,
	"quoteProps": "consistent",
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": true
}
