.btn {
	width: -moz-fit-content;
	width: fit-content;
	padding-block: 0.5rem;
	padding-inline: 0.75rem;
	background: none;
	border: none;
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 100px;
	min-height: 40px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: relative;
	font-size: var(--md-label--large);
	& svg {
		font-size: 18px;
	}

	&:disabled {
		cursor: default;
	}

	&.text {
		color: var(--md-primary);

		&:hover {
			background-color: var(--md-on-primary--opacity-008);
		}

		&:active {
			background-color: var(--md-on-primary--opacity-012);
		}

		&:disabled {
			color: var(--md-on-surface);
			background-color: transparent;
			opacity: 38%;
		}
	}

	&.tonal {
		background-color: var(--md-secondary-container);
		color: var(--md-on-secondary-container);

		&:after {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 100px;
			transition: background-color 0.2s ease-in-out;
		}

		&:not(:disabled):hover:after {
			background-color: var(--md-on-secondary-container--opacity-008);
		}

		&:not(:disabled):active:after {
			background-color: var(--md-on-secondary-container--opacity-012);
		}

		&:disabled {
			color: var(--md-on-surface);
			background-color: var(--md-on-surface-variant--opacity-012);
			opacity: 38%;
		}
	}
}

.inline-btn {
	padding: 0.4em;
	line-height: 0;
	border: 1px solid var(--md-on-background);
	border-radius: 9999px;
	aspect-ratio: 1/1;
}

.card {
	text-decoration: unset;
	padding: 0.5rem 0.75rem;
	border-radius: 0.75rem;

	&.filled {
		background-color: var(--md-surface-variant);
		color: var(--md-on-surface-variant);
	}

	&.outlined {
		background-color: var(--md-surface);
		color: var(--md-on-surface);
		border: 1px solid var(--md-outline);
	}
}

.notice {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 33rem;
	font-size: 1.5rem;
	text-align: center;
	color: var(--md-on-background);
}

.fab-bar {
	pointer-events: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	margin: auto;

	&.sticky {
		position: sticky;
		padding: 0;
	}
}

.fab-bar button,
.fab-bar a {
	cursor: pointer;
	pointer-events: auto;
	border-radius: 1rem;
	border: none;
	box-shadow: var(--shadow);
	text-decoration: none;
	padding: 1rem;
	background-color: var(--md-primary-container);
	color: var(--md-on-primary-container);
	display: flex;
	align-items: center;
	font-size: var(--md-label--large);
	gap: 0.5rem;
	position: relative;

	& svg {
		font-size: 18px;
	}

	&:after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: 1rem;
		transition: background-color 0.2s ease-in-out;
	}

	&:not(:disabled):hover:after {
		background-color: var(--md-on-secondary-container--opacity-008);
	}

	&:not(:disabled):active:after {
		background-color: var(--md-on-secondary-container--opacity-012);
	}
}

.inc-target {
	margin: -0.5rem -0.75rem;
	padding: 0.5rem 0.75rem;
}

.skeleton {
	border-radius: 0.75rem;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: shimmer;
	animation-timing-function: linear;
	background: var(--md-surface-variant);
	background: linear-gradient(
		to right,
		var(--md-secondary-container) 0%,
		var(--md-surface-variant) 15%,
		var(--md-surface-variant) 85%,
		var(--md-secondary-container) 100%
	);
	background-size: 500px 100%;
	color: transparent !important;
	-webkit-user-select: none;
	user-select: none;
	cursor: wait;
	& * {
		color: transparent !important;
	}
}
@keyframes shimmer {
	0% {
		background-position: -500px 0;
	}
	100% {
		background-position: 500px 0;
	}
}

.flow {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.over-limit {
	color: var(--md-error);
}

.with-icon {
	display: flex;
	gap: 0.25em;
}

.non-expanding {
	border: none !important;
	padding: 0 !important;
	margin-bottom: -0.5rem;
}
