@import './components.css';
@import './var.css';
@import './typo.css';

* {
	box-sizing: border-box;
	font-family: system-ui, Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	font-size: 1.2em;
	background-color: var(--md-background);
	color: var(--md-on-background);
	padding: 0;
	accent-color: var(--md-primary);
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	max-width: 25em;
	margin: auto;
	margin-bottom: 4em;
	padding-inline: 0.5em;
}

button {
	text-align: unset;
	border: unset;
	background: unset;
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	all: unset;
}
