@import './components.css';
@import './var.css';
@import './typo.css';

* {
	box-sizing: border-box;
	font-family: system-ui, Roboto, sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-family: system-ui, Roboto, sans-serif;
	font-size: 1.2rem;
	background-color: var(--md-background);
	color: var(--md-on-background);
	padding: 0;
	accent-color: var(--md-primary);
	--as-dialog-background: var(--md-surface);
	--as-dialog--close-btn-color: var(--md-on-surface);
	--as-dialog--close-btn-border: 1px solid var(--md-on-surface);
}

html:focus-within {
	scroll-behavior: smooth;
}

button {
	text-align: unset;
	border: unset;
	background: unset;
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	all: unset;
}

dialog.container section.dialog button.close-btn {
	outline-offset: 0.5em;
}
