@import './reset.css';
@import './var.css';

* {
	box-sizing: border-box;
	font-family: Roboto, 'Atkinson Hyperlegible', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
	font-size: 1.2em;
	background-color: var(--md-background);
	color: var(--md-on-background);
	padding: 0;
	accent-color: var(--md-primary);
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	max-width: 25em;
	margin: auto;
	margin-bottom: 2em;
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	max-width: 25em;
	padding: 0.75em;
	margin: auto;
}

nav > button,
nav > a {
	border-radius: 1em;
	border: none;
	box-shadow: var(--shadow);
	text-decoration: none;
	padding: 1em;
	background-color: var(--md-primary-container);
	color: var(--md-on-primary-container);
	display: flex;
	align-items: center;
	font-size: var(--md-label--large);
	gap: 0.5em;
	& svg {
		font-size: 18px;
	}
}

/* utility flexes */

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.center {
	justify-content: center;
	align-items: center;
}

.sb {
	justify-content: space-between;
}

.aic {
	align-items: center;
}

.gap {
	gap: 0.5em;
}

.big-gap {
	gap: 1em;
}

.grow {
	flex-grow: 1;
}

.end {
	justify-content: end;
	align-items: end;
}

.start {
	justify-content: start;
	align-items: start;
}

/* components */

.btn.txt-only {
	background: none;
	border: none;
	display: flex;
	gap: 0.25em;
	justify-content: center;
	align-items: center;
	color: var(--md-primary);
	font-size: var(--md-label--large);
	text-decoration: none;
	min-height: 40px;
	& svg {
		font-size: 18px;
	}
}

.card {
	background-color: var(--md-surface-variant);
	color: var(--md-on-surface-variant);
	text-decoration: unset;
	padding: 0.75em 1em;
	border-radius: 0.75em;
	&.inner {
		background-color: var(--md-surface);
		color: var(--md-on-surface);
		border: 1px solid var(--md-outline);
	}
}

.notice {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 33rem;
	font-size: 1.5em;
	text-align: center;
	color: var(--md-on-background);
}

/* typo */

.title-l {
	font-size: var(--md-title--large);
}

.title-m {
	font-size: var(--md-title--medium);
	font-weight: 500;
}

.body-m {
	font-size: var(--md-body--medium);
}

.label-l {
	font-size: var(--md-label--large);
	font-weight: bold;
}
